# LCSAS recovery -- GRUB (UEFI) boot menu.
# Mirror of isolinux.cfg for UEFI systems.

set timeout=10
set default=0

menuentry "Linux 6.6 LTS (recovery)" --id=linux {
    linux  /boot/linux/vmlinuz console=tty0 console=ttyS0,115200 quiet rdinit=/init
    initrd /boot/initramfs.cpio.gz
}

menuentry "FreeBSD 13.4 (alternate kernel)" --id=freebsd {
    chainloader /boot/freebsd/loader.efi
}

menuentry "Drop to BusyBox shell" --id=shell {
    linux  /boot/linux/vmlinuz console=tty0 console=ttyS0,115200 rdinit=/bin/sh
    initrd /boot/initramfs.cpio.gz
}

menuentry "Run lcsas-restore directly (skip rootfs)" --id=restore {
    linux  /boot/linux/vmlinuz console=tty0 console=ttyS0,115200 rdinit=/bin/lcsas-restore
    initrd /boot/initramfs.cpio.gz
}
